<div id="simplecontact">

    {% if errors %}
        <div class="simplecontact-errors">{{ config.messages.error }}</div>
    {% endif %}

    <form class="pure-form pure-form-stacked" action="{{ url(route) }}" method="post" id="simplecontact-form">
        <div class="pure-control-group">
            <label for="name">{{ config.fields.name.label }}</label>
            <input class="pure-input-1" id="name" name="name" type="text" placeholder="" value="{{ vars.name }}">
        </div>

        <div class="pure-control-group">
            <label for="email">{{ config.fields.email.label }}</label>
            <input class="pure-input-1" id="email" name="email" type="email" placeholder="" value="{{ vars.email }}">
        </div>

        <div class="pure-control-group">
            <label for="message">{{ config.fields.message.label }}</label>
            <textarea class="pure-input-1" id="message" name="message" placeholder="{{ config.fields.message.placeholder }}" rows="5">{{ vars.message }}</textarea>
        </div>

        <div class="pure-control-group pure-control-group-antispam">
            <label for="antispam">{{ config.fields.antispam.label }}</label>
            <input class="pure-input-1" id="antispam" name="antispam" type="text" placeholder="" value="{{ vars.antispam }}">
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">{{ config.fields.submit.label }}</button>
        </div>
    </form>

</div>

<style>
    .simplecontact-errors {
        font-size:0.9em;
        background: rgb(232, 90, 90);
        color:white;
        padding:1em;
        margin-bottom:1em;
    }
    .pure-control-group {
        margin-bottom:1em;
    }
    .pure-control-group-antispam {
        display:none;
    }
</style>

