{% apply spaceless %}
    {{ h_css_add('@site/themes/default/css/purecss@3.0.0-pure.min.css') }}
    {{ h_css_add('@site/themes/default/css/purecss@3.0.0-grids-responsive.min.css') }}
    {{ h_css_add('@site/themes/default/css/highlight-stackoverflow-light@11.6.0.min.css') }}
    {{ h_css_add('@site/themes/default/css/styles.css') }}
    {{ h_js_add('@site/themes/default/js/highlight@11.6.0.min.js') }}
    {{ h_js_add('@site/themes/default/js/scripts.js') }}
{% endapply %}
<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ h_page_title(delim=' / ', siteTitle='Herbie CMS', rootTitle='Herbie CMS - A simple flat-file content management system', reverse=true) }}</title>
    <base href="{{ baseUrl == '' ? '/' : baseUrl }}">
    {{ h_css_out(addTimestamp=true) }}
</head>
<body class="{{ h_css_classes() }}">
<div class="header">
    <div class="container">
        <div class="inner-container">
            <div class="pure-hidden-tablet pure-hidden-desktop">
                <a href="#menu" id="menuLink" class="menu-link">
                    <!-- Hamburger icon -->
                    <span></span>
                </a>
            </div>
            <div class="pure-g">
                <div class="pure-u-3-5 pure-u-md-1-5">
                    <h1 class="brand-title">{{ h_link_page('index', '<span class="e">E</span> Herbie CMS') }}</h1>
                </div>
                <div class="pure-u-2-5 pure-u-md-4-5 text-right pure-hidden-phone">
                    <div class="topmenu" id="topmenu">
                        <div id="topmenu-inner">
                            <div class="pure-menu pure-menu-horizontal">
                                <ul class="pure-menu-list">
                                    {% for item in site.data.menu %}
                                        {% set active = (item.route == route) ? 'pure-menu-selected' : '' %}
                                        <li class="pure-menu-item {{ active }}">
                                            {{ h_link_page(item.route, item.label, {class:"pure-menu-link"}) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mobile-menu" class="pure-hidden-phone pure-hidden-tablet pure-hidden-desktop">
    <div class="pure-menu">
        <ul class="pure-menu-list">
            {% for item in site.data.menu %}
                <li class="pure-menu-item"><a class="pure-menu-link" href="{{ h_url_rel(item.route) }}">{{ item.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if page.slider %}
    <div class="pure-g slider">
        <div class="container">
            <div class="pure-g">
                <div class="pure-u-1">
                    <h2 class="brand-tagline">{{ page.slider|raw }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% block content %}{% endblock %}

<div class="footer">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-3-8 footer-about">
                <h3>About Herbie</h3>
                <p>Herbie is a simple, modern, fast and highly customizable flat-file Content Management System (CMS) powered by PHP, Twig, Markdown, Textile, reStructuredText and other human-readable text files.</p>
            </div>
            <div class="pure-u-1 pure-u-md-1-8"></div>
            <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4 footer-links">
                <h3>Links</h3>
                <ul>
                    <li>{{ h_link_page('sitemap', 'Sitemap') }}</li>
                    <li>{{ h_link_page('search', 'Search') }}</li>
                    <li>{{ h_link_page('privacy-policy', 'Privacy policy') }}</li>
                    <li>{{ h_link_page('imprint', 'Imprint') }}</li>
                </ul>
            </div>
            <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
                <h3>Code</h3>
                <ul>
                    <li>{{ h_link_page('https://www.github.com/getherbie', 'Herbie at GitHub') }}</li>
                    <li>{{ h_link_page('https://packagist.org/packages/getherbie/', 'Herbie at Packagist') }}</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="pure-g">
            <div class="pure-u-1-2 footer-copyright">Made with 🍫 in Switzerland</div>
            <div class="pure-u-1-2 footer-copyright text-right">A (not so) tiny <a href="https://www.tebe.ch">tebe.ch</a> project</div>
        </div>
    </div>
</div>
{{ h_js_out(addTimestamp=true) }}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('pre code[class*=language-]').forEach((el) => {
      hljs.highlightElement(el);
    });
  });    
</script>
</body>
