{% for item in attribute(site.data, type) %}
<div class="doc-function">
    <h3>{{ attribute(item, 'name') }}</h3>
    <p>
        {{ attribute(item, 'desc') }}
        {% set see = attribute(item, 'see') %}
        {% if see %}
            See: <a href="{{ see[0] }}">{{ see[1] }}</a>
        {% endif %}
    </p>
    <table class="pure-table pure-table-horizontal">
        <tr class="code">
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Default</td>
        </tr>
        {% for param in item.params %}
        <tr class="param">
            <td>{{ param.name }}</td>
            <td>{{ param.type }}</td>
            <td>{{ param.desc }}</td>
            <td>{{ param.default }}</td>
        </tr>
        {% endfor %}
        <tr class="return">
            <td>[return]</td>
            <td>{{ item.return.0 }}</td>
            <td colspan="2">{{ item.return.1 }}</td>
        </tr>
    </table>
    {% if item.code is defined and item.code != '' %}
        <div>Example:</div>
        <pre><code class="twig-language">&#123&#123 {{ item.code }} &#125;&#125;</code></pre>
    {% endif %}
</div>
{% endfor %}