{% extends "@plugin/adminpanel/layouts/main.twig" %}

{% block title %}{{ translate('adminpanel', 'Edit data') }}{% endblock %}
{% block subtitle %}{{ path }}{% endblock %}

{% block alert %}
    <div class="alert alert-info">{{ translate('adminpanel', 'Form config is missing.') }}</div>
    {% if saved %}<div class="alert alert-success">{{ translate('adminpanel', 'Data saved successfully.') }}</div>{% endif %}
{% endblock %}

{% block content %}

    <form action="" method="post" class="pure-form">
        <textarea wrap="off" class="nowrap pure-input-1" rows="10" cols="60" name="content">{{ content }}</textarea>
        <button class="pure-button pure-button-primary" name="button1" type="submit">{{ translate('adminpanel', 'Save') }}</button>
        <a href="?action=data/index" class="pure-button">{{ translate('adminpanel', 'Cancel') }}</a>
    </form>

{% endblock %}
