{% extends "@plugin/adminpanel/layouts/main.twig" %}
{% import "@plugin/adminpanel/views/macro.grid.twig" as grid %}

{% block title %}{{ translate('adminpanel', 'Data') }}{% endblock %}

{% block content %}
    {% if dir is readable %}
    <table class="pure-table pure-table-horizontal data-table">
        <thead>
        <tr>
            <th class="icon" width="1%"></th>
            <th class="title">{{ translate('adminpanel', 'Name') }}</th>
            <th>{{ translate('adminpanel', 'Size') }}</th>
            <th>{{ translate('adminpanel', 'Modified') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item,entry in data %}
            <tr class="file-{{ item }}">
                <td class="icon"><i class="fa fa-database fa-lg"></i></td>
                <td class="title">{{ item }}</td>
                <td>{{ entry.size|filesize }}</td>
                <td>{{ entry.modified|strftime }}</td>
                <td class="links">
                    <a class="pure-button button-small" href="?action=data/edit&path=@site/data/{{ item }}.yml">{{ translate('adminpanel', 'Edit') }}</a>
                    {{ grid.delete_link(item, translate('adminpanel', 'Delete')) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ grid.addblock(translate('adminpanel', 'Add data')) }}
    {% else %}
        <p>{{ translate('adminpanel', 'Directory {dir} does not exist or is not readable.', {'{dir}': dir}) }}</p>
    {% endif %}
{% endblock %}

{% block jquery %}
    {{ grid.delete_js("?action=data/delete") }}
    {{ grid.addblock_js("?action=data/add") }}
{% endblock %}
