{% extends "@plugin/adminpanel/layouts/main.twig" %}
{% import "@plugin/adminpanel/views/macro.grid.twig" as grid %}

{% block title %}Seiten{% endblock %}

{% block content %}
    <table class="pure-table pure-table-horizontal">
        <thead>
        <tr>
            <th class="icon" width="1%"></th>
            <th class="title">Titel</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if tree.hasParent() %}
            <tr>
                <td class="icon"><i class="fa fa-level-up fa-lg"></i></td>
                <td class="title" colspan="2"><a href="?action=page/index&route={{ tree.parent.menuItem.route }}">Nach oben</a></td>
            </tr>
        {% endif %}
        {% for item in tree %}
            {% set menuItem = item.menuItem %}
            {% if item.hasChildren %}
                <tr>
                    <td class="icon"><i class="fa fa-folder-o fa-lg"></i></td>
                    <td class="title"><a href="?action=page/index&route={{ menuItem.route }}">{% if menuItem.title is empty %}[Kein Titel] {% else %}{{ menuItem.title }}{% endif %}</a></td>
                    <td class="links nowrap">
                        <a class="pure-button button-small" href="?action=page/data&path={{ menuItem.path }}&cancel={{ cancel }}">Eigenschaften</a>
                        <a class="pure-button button-small" href="?action=page/content&path={{ menuItem.path }}&cancel={{ cancel }}">Inhalte</a>
                        {{ grid.delete_link(menuItem.path, "Löschen") }}
                    </td>
                </tr>
            {% elseif menuItem.isStaticPage %}
                <tr>
                    <td class="icon"><i class="fa fa-file-o fa-lg"></i></td>
                    <td class="title">{% if menuItem.title is empty %}[Kein Titel] {% else %}{{ menuItem.title }}{% endif %}</td>
                    <td class="links nowrap">
                        <a class="pure-button button-small" href="?action=page/data&path={{ menuItem.path }}&cancel={{ cancel }}">Eigenschaften</a>
                        <a class="pure-button button-small" href="?action=page/content&path={{ menuItem.path }}&cancel={{ cancel }}">Inhalte</a>
                        {{ grid.delete_link(menuItem.path, "Löschen") }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="icon"><i class="fa fa-file-o fa-lg"></i></td>
                    <td class="title nowrap" colspan="2">{% if menuItem.title %}{{ menuItem.title }} {% endif %}{% if menuItem.plugin %}[{{ menuItem.plugin }}]{% endif %}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {{ grid.addblock("Seite hinzufügen") }}

{% endblock %}

{% block jquery %}

    {{ grid.delete_js("?action=page/delete") }}
    {{ grid.addblock_js("?action=page/add") }}

{% endblock %}