{% extends "@plugin/adminpanel/layouts/main.twig" %}
{% import "@plugin/adminpanel/views/macro.grid.twig" as grid %}

{% block title %}Blogposts{% endblock %}

{% block content %}
    {% if dir is readable %}
    <table class="pure-table pure-table-horizontal">
        <thead>
        <tr>
            <th class="icon" width="1%"></th>
            <th class="title">Titel</th>
            <th>Datum</th>
            <!-- th width="1%">M</th>
            <th width="1%">A</th -->
            <th width="1%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in posts %}
            <tr>
                <td class="icon"><i class="fa fa-file-o fa-lg"></i></td>
                <td class="title">{% if item.title is empty %}[Kein Titel] {% else %}{{ item.title }}{% endif %}</td>
                <td>{{ item.date }}</td>
                <!-- td><i class="fa fa-square-o fa-lg"></i></td>
                <td><i class="fa fa-square-o fa-lg"></i></td -->
                <td class="links">
                    <a class="pure-button button-small" href="?action=post/data&path={{ item.path }}">Eigenschaften</a>
                    <a class="pure-button button-small" href="?action=post/content&path={{ item.path }}">Inhalte</a>
                    {{ grid.delete_link(item.path, "Löschen") }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ grid.addblock("Blogpost hinzufügen") }}
    {% else %}
        <p>Das Verzeichnis <b>{{ dir }}</b> existiert nicht oder ist nicht lesbar.</p>
    {% endif %}
{% endblock %}

{% block jquery %}

    {{ grid.delete_js("?action=post/delete") }}
    {{ grid.addblock_js("?action=post/add") }}

{% endblock %}
