{% macro filters(route_params) %}

    {% if route_params %}

        {% if route_params.author %}

            <p>Filtered by Author "{{ route_params.author }}"</p>

        {% elseif route_params.category %}

            <p>Filtered by Category "{{ route_params.category }}"</p>

        {% elseif route_params.tag %}

            <p>Filtered by Tag "{{ route_params.tag }}"</p>

        {% elseif route_params.year and route_params.month and route_params.day %}

            <p>Filtered by Year/Month/Day "{{ route_params.year }}-{{ route_params.month }}-{{ route_params.day }}"</p>

        {% elseif route_params.year and route_params.month %}

            <p>Filtered by Year/Month "{{ route_params.year }}-{{ route_params.month }}"</p>

        {% elseif route_params.year %}

            <p>Filtered by Year "{{ route_params.year }}"</p>

        {% endif %}

    {% endif %}

{% endmacro %}


{% macro links(page, options) %}

    {% set defaults = {
        'pageRoute': '',
        'renderAuthors': true,
        'renderCategories': true,
        'renderTags': true,
    } %}

    {% set options = defaults|merge(options|default({})) %}

    {% if options.renderCategories and options.renderTags and options.renderAuthors %}

        <div class="blog-meta">

            {# render markup for categories #}
            {% if options.renderCategories %}
                {% set categories = page.getCategories() %}
                {% if categories %}
                    <span class="links-categories">
                <span class="label">Categories:</span>
                <i class="fa fa-folder-open"></i>
                {% set delim = '' %}
                        {% for category in categories %}
                            {%- set route = options.pageRoute ~ '/category/' ~ category|slugify -%}
                            {{ delim|raw }}{{ link_page(route, category) }}
                            {%- set delim = '<span class="delim">, </span>' -%}
                        {% endfor %}
                </span>
                {% endif %}
            {% endif %}

            {# render markup for tags #}
            {% if options.renderTags %}
                {% set tags = page.getTags() %}
                {% if tags %}
                    <span class="links-tags">
                <span class="label">Tags:</span>
                <i class="fa fa-tags"></i>
                {% set delim = '' %}
                        {% for tag in tags %}
                            {%- set route = options.pageRoute ~ '/tag/' ~ tag|slugify -%}
                            {{ delim|raw }}{{ link_page(route, tag) }}
                            {%- set delim = '<span class="delim">, </span>' -%}
                        {% endfor %}
                </span>
                {% endif %}
            {% endif %}

            {# render markup for authors #}
            {% if options.renderAuthors %}
                {% set authors = page.getAuthors() %}
                {% if authors %}
                    <span class="links-authors">
                <span class="label">Authors:</span>
                <i class="fa fa-user"></i>
                {% set delim = '' %}
                        {% for author in authors %}
                            {%- set route = options.pageRoute ~ '/author/' ~ author|slugify -%}
                            {{ delim|raw }}{{ link_page(route, author) }}
                            {%- set delim = '<span class="delim">, </span>' -%}
                        {% endfor %}
                </span>
                {% endif %}
            {% endif %}

        </div>

    {% endif %}

{% endmacro %}
