<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ pageTitle(delim=' / ', siteTitle='Herbie Tests') }}</title>
    <base href="{{ baseUrl }}">
    <style>
        body { margin: 1rem; }
        table { width: 100%; border-collapse: collapse; }
        th { text-align: left; }
        th, td { border: 1px solid #ccc; padding: 0.125rem 0.5rem; }
    </style>
</head>
<body class="{{ cssClasses() }}">

<div class="page-trail">
<a href="/">Herbie Tests</a>
{%- for menu in site.pageTrail -%}
    {{- ' / ' -}}
    <a href="{{ urlRel(menu.route) }}">{{ menu.title }}</a>
{%- endfor -%}
</div>

{% block content %}{% endblock %}
<div style="display:none">
    Time: {{ site.time }}<br>
    Last modified: {{ site.modified }}<br>
    Locale: {{ site.locale }}<br>
    Charset: {{ site.charset }}<br>
    Data: {{ site.data|length }}<br>
</div>
</body>
</html>