<div class="herbie-info">
    <h1 class="herbie-info-h1">Herbie CMS Info</h1>
    <ul>
        <li><a href="{{ route }}#herbie-commands">Commands</a></li>
        <li><a href="{{ route }}#herbie-config">Configuration</a></li>
        <li><a href="{{ route }}#herbie-events">Events</a></li>
        <li><a href="{{ route }}#herbie-filters">Filters</a></li>
        <li><a href="{{ route }}#herbie-middlewares">Middlewares</a></li>
        <li><a href="{{ route }}#herbie-php-classes">PHP Classes</a></li>
        <li><a href="{{ route }}#herbie-php-functions">PHP Functions</a></li>
        <li><a href="{{ route }}#herbie-plugins">Plugins</a></li>
        <li><a href="{{ route }}#herbie-twig-filters">Twig Filters</a></li>
        <li><a href="{{ route }}#herbie-twig-globals">Twig Globals</a></li>
        <li><a href="{{ route }}#herbie-twig-functions">Twig Functions</a></li>
        <li><a href="{{ route }}#herbie-twig-tests">Twig Tests</a></li>
    </ul>
    
    {# <h2 class="herbie-info-h2">Constants ({{ constants|length }})</h2>
    <table class="herbie-info-table">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        {% for constant, value in constants %}
            <tr>
                <td>{{ loop.index }}. {{ constant }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table> #}

    <h2 id="herbie-commands" class="herbie-info-h2">Commands ({{ commands|length }})</h2>
    <div class="herbie-info-commands" style="display:none">
        {% for command in commands %}
            {{- command -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
        </tr>
        {% for command in commands %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ command }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h2 id="herbie-config" class="herbie-info-h2">Configuration ({{ config|length }})</h2>
    <div class="herbie-info-config" style="display:none">
        {% for key, _ in config %}
            {{- key -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>    
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
            <th>Value</th>
        </tr>
        {% for key, value in config %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2 id="herbie-events" class="herbie-info-h2">Events ({{ events|length }})</h2>
    <div class="herbie-info-events" style="display:none">
        {%- for event in events -%}
            {{- event[0] -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
            <th>Priority</th>
            <th>Type</th>
            <th>Callable</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ event[0] }}</td>
                <td>{{ event[1] }}</td>
                <td>{{ event[2] }}</td>
                <td>{{ event[3] }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h2 id="herbie-filters" class="herbie-info-h2">Filters ({{ filters|length }})</h2>
    <div class="herbie-info-filters" style="display:none">
        {%- for filter in filters -%}
            {{- filter[0] -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Callable</th>
        </tr>
        {% for filter in filters %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ filter[0] }}</td>
                <td>{{ filter[1][0] }}</td>
                <td>{{ filter[1][1] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2 id="herbie-middlewares" class="herbie-info-h2">Middlewares ({{ middlewares|length }})</h2>
    <div class="herbie-info-twig-middlewares" style="display:none">
        {%- for middleware in middlewares -%}
            {{- middleware[2] -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Callable</th>
        </tr>
        {% for middleware in middlewares %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ middleware[2] }}</td>
                <td>{{ middleware[0] }}</td>
                <td>{{ middleware[1] }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h2 id="herbie-php-classes" class="herbie-info-h2">PHP Classes ({{ php_classes|length }})</h2>
    <div class="herbie-info-php-classes" style="display:none">
        {%- for class in php_classes -%}
            {{- class -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
        </tr>
        {% for class in php_classes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ class }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2 id="herbie-php-functions" class="herbie-info-h2">PHP Functions ({{ php_functions|length }})</h2>
    <div class="herbie-info-php-functions" style="display:none">
        {%- for function in php_functions -%}
            {{- function -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
        </tr>
        {% for function in php_functions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ function }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2 id="herbie-plugins" class="herbie-info-h2">Plugins ({{ plugins|length }})</h2>
    <div class="herbie-info-plugins" style="display:none">
        {%- for plugin in plugins -%}
            {{- plugin[0] -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Class</th>
        </tr>
        {% for plugin in plugins %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ plugin[0] }}</td>
                <td>{{ plugin[1] }}</td>
                <td>{{ plugin[2] }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h2 id="herbie-twig-filters" class="herbie-info-h2">Twig Filters ({{ twig_filters|length }})</h2>
    <div class="herbie-info-twig-filters" style="display:none">
        {%- for filter in twig_filters -%}
            {{- filter[0] -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Callable</th>
        </tr>
        {% for filter in twig_filters %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ filter[0] }}</td>
                <td>{{ filter[1][0] }}</td>
                <td>{{ filter[1][1] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2 id="herbie-twig-globals" class="herbie-info-h2">Twig Globals ({{ twig_globals|length }})</h2>
    <div class="herbie-info-twig-globals" style="display:none">
        {%- for global in twig_globals -%}
            {{- global[0] -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
        {% for global in twig_globals %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ global[0] }}</td>
                <td>{{ global[2] }}</td>
                <td>{{ global[1] }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h2 id="herbie-twig-functions" class="herbie-info-h2">Twig Functions ({{ twig_functions|length }})</h2>
    <div class="herbie-info-twig-functions" style="display:none">
        {%- for function in twig_functions -%}
            {{- function[0] -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Callable</th>
        </tr>
        {% for function in twig_functions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ function[0] }}</td>
                <td>{{ function[1][0] }}</td>
                <td>{{ function[1][1] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2 id="herbie-twig-tests" class="herbie-info-h2">Twig Tests ({{ twig_tests|length }})</h2>
    <div class="herbie-info-twig-tests" style="display:none">
        {%- for test in twig_tests -%}
            {{- test[0] -}}
            {%- if loop.last == false -%},{%- endif -%}
        {%- endfor -%}
    </div>
    <table class="herbie-info-table">
        <tr>
            <th style="width:1%">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Callable</th>
        </tr>
        {% for test in twig_tests %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ test[0] }}</td>
                <td>{{ test[1][0] }}</td>
                <td>{{ test[1][1] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<style>
.herbie-info-table { width: 100%; border-collapse: collapse; }
.herbie-info-table th { text-align: left; font-weight: bold; }
.herbie-info-table th, .herbie-info-table td { border: 1px solid #ccc; padding: 0.125rem 0.5rem; }
</style>
