{% apply spaceless %}
    <div class="listing">
        <section>
            {% for menuitem in pagination %}
                <article>
                    <h2>{{ linkPage(menuitem.route, menuitem.getMenuTitle()) }}</h2>
                    {% if menuitem.image %}
                        <div class="page-image">
                            <a href="{{ urlRel(menuitem.route) }}"><img class="pure-img" src="{{ menuitem.image }}" alt=""/></a>
                        </div>
                    {% endif %}
                    <p>{{ menuitem.excerpt }}</p>
                </article>
            {% else %}
                <p>Es sind noch keine Einträge erfasst.</p>
            {% endfor %}
        </section>
        <nav class="pagination">
            {% if pagination.hasPrevPage() %}
                <a class="pure-button" href="{{ urlRel(route) }}?page={{ pagination.getPrevPage() }}">&lt; Vorherige Seite</a>
            {% endif %}
            {% if pagination.hasNextPage() %}
                <a class="pure-button" href="{{ urlRel(route) }}?page={{ pagination.getNextPage() }}">Nächste Seite &gt;</a>
            {% endif %}
        </nav>
    </div>
{% endapply %}