{% extends "@sysplugin/adminpanel/layouts/main.twig" %}
{% import "@sysplugin/adminpanel/views/macro.grid.twig" as grid %}

{% block title %}
    Dateiablage
    <a up-layer="new" href="?action=media/add&dir={{ dir }}">{{ i('plus-circle-fill', 32, 32) }}</a>
    <a up-layer="new" href="?action=media/upload&dir={{ dir }}">{{ i('arrow-up-circle-fill', 32, 32) }}</a>
{% endblock %}
{% block subtitle %}Pfad: @media{% if dir %}/{{ dir }}{% endif %}{% endblock %}

{% block content %}
<table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th width="1%" class="icon"></th>
        <th class="text-left">Datei</th>
        <th width="15%" class="text-left">Geändert am</th>
        <th width="10%" class="text-right">Grösse</th>
        <th width="5%" class="text-left">Art</th>
        <th width="5%"></th>
    </tr>
    </thead>
    <tbody>
    {% if dir != "" %}
        <tr>
            <td class="icon">{{ i('arrow-up', 22, 22) }}</td>
            <td class="title" colspan="5"><a up-target="content" href="?action=media/index&dir={{ parentDir }}">Nach oben</a></td>
        </tr>
    {% endif %}
    {% for file in iterator %}
        {% if file.isDir %}
            <tr>
                <td class="icon">{{ i('folder', 22, 22) }}</td>
                <td class="title"><a up-target="content" href="?action=media/index&dir={{ file.relativePathname }}">{{ file.basename }}</a></td>
                <td class="text-left">{{ file.mtime|date("d.m.Y H:i:s") }}</td>
                <td></td>
                <td></td>
                <td class="links">
                    <a up-layer="new" class="pure-button button-small" href="?action=media/delete-folder&path=@media/{{ file.relativePathname }}">{{ translate('adminpanel', 'Delete') }}</a>
                </td>
            </tr>
        {% endif %}
        {% if file.isFile %}
        <tr>
            <td class="icon">{{ i('file-earmark', 22, 22) }}</td>
            <td class="text-left">{{ file.basename }}</td>
            <td class="text-left">{{ file.mtime|date("d.m.Y H:i:s") }}</td>
            <td class="text-right" nowrap="nowrap">{{ file.size|format_size }}</td>
            <td>{{ file.extension }}</td>
            <td class="links">
                <a up-layer="new" class="pure-button button-small" href="?action=media/delete-file&path=@media/{{ file.relativePathname }}">{{ translate('adminpanel', 'Delete') }}</a>
            </td>
        </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="5">Das Verzeichnis ist leer.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
