{% extends "@sysplugin/adminpanel/layouts/main.twig" %}
{% import "@sysplugin/adminpanel/views/data/macros.twig" as macro %}

{% block title %}{{ translate('adminpanel', 'Edit data') }}{% endblock %}
{% block subtitle %}{{ path }}{% endblock %}

{% block alert %}
    {% if saved %}<div class="alert alert-success">{{ translate('adminpanel', 'Data saved successfully.') }}</div>{% endif %}
{% endblock %}

{% block content %}
    <form action="" method="post" class="pure-form pure-form-aligned data-edit">
        <div>
            <a class="add first" href="#">{{ i('plus-circle-fill', 12, 12) }} {{ translate('adminpanel', 'Add') }}</a>
            {% for index,item in data %}
                {{ macro.element(config, index, item) }}
            {% endfor %}
        </div>
        <button class="pure-button pure-button-primary" name="button" value="save" type="submit">{{ translate('adminpanel', 'Save') }}</button>
        <button class="pure-button pure-button-secondary" name="button" value="saveAndClose" type="submit">{{ translate('adminpanel', 'Save & Close') }}</button>
        <a up-target="content" href="?action=data/index" class="cancel">{{ translate('adminpanel', 'Cancel') }}</a>
    </form>

    <!-- template used for DOM manipulations -->
    <div class="template hidden" data-count="{{ data|length }}">
        {{ macro.element(config, '_index_') }}
    </div>

    <div class="template-fields hidden">
        {{ macro.multitext_input('_index_', '_key_', '', 1) }}
    </div>

    <style>
        .form-element {
            border: 1px solid #CCC;
            padding: 1em;
            margin-bottom: 1em;
            background-color: #F4F4F4;
        }
        .pure-control-wrap {
            border:1px solid #ccc;
            padding:1em;
            margin-bottom:1em;
            background-color:#f4f4f4;
        }
        .pure-control-wrap .pure-g {
            margin-bottom: 0.5rem;
        }
        .pure-control-wrap .matrix-row {
            margin-bottom: 0.35rem;
        }
        a.add, a.delete {
            color:#aaa;
            font-size:0.9em;
            text-decoration: none;
        }
        div.hint {
            color:#999;
            font-size:0.9em;
        }
    </style>
{% endblock %}
