{% extends "@plugin/adminpanel/layouts/main.twig" %}
{% import "@plugin/adminpanel/views/data/macros.twig" as macro %}

{% block title %}Daten editieren{% endblock %}
{% block subtitle %}{{ path }}{% endblock %}

{% block alert %}
    {% if saved %}<div class="alert alert-success">Die Daten wurden gesichert.</div>{% endif %}
{% endblock %}

{% block content %}

    <form action="" method="post" class="pure-form pure-form-aligned">
        <fieldset>
            <a class="add first" href="#"><i class="fa fa-plus-circle"></i> Hinzufügen</a>
            {% for index,item in data %}
                {{ macro.element(config, index, item) }}
            {% endfor %}
        </fieldset>
        <button class="pure-button pure-button-primary" name="button1" type="submit">Sichern</button>
        <a href="?action=data/index" class="pure-button">Abbrechen</a>
    </form>

    <!-- template used for DOM manipulations -->
    <div class="template hidden" data-count="{{ data|length }}">
        {{ macro.element(config, '_index_') }}
    </div>

    <div class="template-fields hidden">
        {{ macro.multitext_input('_index_', '_key_', '', 1) }}
    </div>

    <style>
        .form-element {
            border: 1px solid #CCC;
            padding: 1em;
            margin-bottom: 1em;
            background-color: #F4F4F4;
        }
        .pure-control-wrap {
            border:1px solid #ccc;
            padding:1em;
            margin-bottom:1em;
            background-color:#f4f4f4;
        }
        a.add, a.delete {
            color:#aaa;
            font-size:0.9em;
            text-decoration: none;
        }
        div.hint {
            color:#999;
            font-size:0.9em;
        }
    </style>

    {{ addJs('
        $(document).ready(function() {
            // delete
            $(document).on("click", "a.delete", function() {
                $(this).parent().remove();
                return false;
            });
            // add
            $(document).on("click", "a.add", function() {
                var count = $("div.template").attr("data-count");
                var template = $("div.template div.pure-control-wrap").clone();

                // replace _index_ with count
                $(template).find("[name*=\'_index_\']").each(function() {
                    var name = $(this).attr("name");
                    name = name.replace("_index_", count);
                    $(this).attr("name", name);
                });
                // replace data-index="_index_"
                $(template).find("[data-index]").each(function() {
                    var name = $(this).attr("data-index");
                    name = name.replace("_index_", count);
                    $(this).attr("data-index", name);
                });

                if($(this).hasClass("first")) {
                    $(this).after( template );
                } else {
                    $(this).parent().after( template );
                }
                $("div.template").attr("data-count", ++count);
                return false;
            });
            // add-multitext
            $(document).on("click", "a.add-multitext", function() {
                var template = $("div.template-fields div.multitext-input").clone();
                var index = $(this).parent().parent().attr("data-index");
                var key = $(this).parent().parent().attr("data-key");
                var name = $(template).find("input").attr("name");
                name = name.replace("_index_", index);
                name = name.replace("_key_", key);
                $(template).find("input").attr("name", name);
                $(this).closest(".multitext").children(":last-child").after( $(template) );
                return false;
            });
            $(document).on("click", "a.remove-multitext", function() {
                $(this).parent().remove();
                return false;
            });

            // add-matrix
            $(document).on("click", "a.add-matrix", function() {
                var parent = $(this).siblings(".matrix-rows");
                var count = $(parent).attr("data-count");
                var index = $(parent).attr("data-index");
                var template = $("div.template div.matrix-rows").clone().html();
                template = template.replace(/__index__/g, count);
                template = template.replace(/_index_/g, index);
                var row = $(parent).children(".matrix-row:last-child");
                if(row.length) {
                    row.after( template );
                } else {
                    $(parent).html( template );
                }
                $(parent).attr("data-count", ++count);
                return false;
            });

            $(document).on("click", "a.remove-matrix", function() {
                $(this).parent().remove();
                return false;
            });
        });
    ', raw=true) }}

{% endblock %}
