{% extends "@plugin/adminpanel/layouts/main.twig" %}
{% import "@plugin/adminpanel/views/post/macros.twig" as macro %}


{% block title %}Seiteneigenschaften{% endblock %}
{% block subtitle %}{{ path }}{% endblock %}

{% block alert %}
    {% if saved %}<div class="alert alert-success">Die Seiteneigenschaften wurden gesichert.</div>{% endif %}
{% endblock %}

{% block content %}

    <form action="" method="post" class="pure-form">

        {% for legend, fieldset in fieldsets %}
            <fieldset>
                {% if legend %}
                    <p><strong>{{ legend }}</strong></p>
                {% endif %}
                {% for name, field in fieldset %}
                    {% set value = attribute(data, name) %}
                    {{ macro.element(name, field, value) }}
                {% endfor %}
            </fieldset>
        {% endfor %}

        <button class="pure-button pure-button-primary" name="button1" type="submit">Sichern</button>
        <!-- button class="pure-button pure-button-primary" name="button2" type="submit">Sichern & schliessen</button>
        <button class="pure-button pure-button-primary" name="button3" type="submit">Sichern & ansehen</button -->
        <a href="?action={{ controller }}/index&route={{ cancel }}" class="pure-button">Abbrechen</a>

        {% if unconfig %}
            <div class="alert alert-info">Einige Felder sind nicht konfiguriert und können nicht bearbeitet werden.</div>
        {% endif %}

    </form>

    <style>
        fieldset {
            background:#eee;
            padding:1em !important;
            margin-bottom:1em !important;
        }
        label {
            color:#444;
        }
        .pure-control-wrap {
            margin-bottom:0.5em;
        }
    </style>

{% endblock %}


{% block jquery %}
    <script>
        $(document).ready(function () {
            // remove multitext input field
            $(document).on("click", "a.remove-multitext", function () {
                $(this).parent().remove();
                return false;
            });
            // add multitext input field
            $(document).on("click", "a.add-multitext", function () {
                var key = $(this).siblings('div').attr('data-key');
                var template = '<div><input type="text" class="pure-input" name="data[{key}][]" value="" /> <a href="#" class="remove-multitext"><i class="fa fa-minus-circle"></i></a></div>';
                template = template.replace('{key}', key);
                var row = $(this).parent().find("div div:last-child");
                if(row.length) {
                    row.after( template);
                } else {
                    $(this).siblings("div").html( template );
                }
                // set focus
                $(this).parent().find("div div:last-child input").focus();
                return false;
            });
        });
    </script>
{% endblock %}
